@import "tailwindcss";

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25%{
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


@keyframes slideRight {
  0% {
    transform: translateX(-765px);
    /* opacity: 0; */
  }
  100% {
    transform: translateX(0);
    /* opacity: 1; */
  }
}

.animate-slide-right {
  animation: slideRight 5s ease-out forwards;
}

.animate-fade {
  animation: fade 5s ease-out forwards;
}